exportPattern("^[[:alpha:]]+")
S3method(print, reliability)
S3method(print, validity)
S3method(print, ItemAnalysis)
importFrom(psych, alpha)
importFrom(psych, fa)
importFrom(psych, KMO)
importFrom(psych, cortest.bartlett)
importFrom(psych, polychoric)
import(Hmisc, MASS)
exportMethods("print.reliability", "print.validity", "print.ItemAnalysis")
